    <div class="row-fluid" >
        <div class="span12 ndcPageHeader">
            <p><img src="img/nDCimages/ndcLogoHeader.png" alt="nDcLogo" /><span>{{pages.ndcDOCCREATE.LABEL_PAGE_TITLE}}</span></p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 ndcPage" style="margin-bottom:150px">

            <div class="row-fluid">
                <div class="span12">
                    <h5>{{pages.ndcDOCCREATE.LABEL_DOCS}}</h5>
                </div>
            </div>


            <fieldset style="margin-top:10px;">
            Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </fieldset>

        </div>
    </div>
    <div class="row-fluid">
        <div class="navbar navbar-fixed-bottom" style="margin:10px 10px 15px;">
            <div class="controls controls-row">
                <button type="button" class="span12 btn btn-success btn-large">
                    {{pages.ndcDOCCREATE.BTN_ADD_DOC}}
                    <i class="icon-search icon-white" style="float:right;"></i>
                </button>
            </div>
            <div class="controls controls-row">
                <button type="button" class="span6 btn btn-primary btn-large">
                    {{pages.ndcDOCCREATE.BTN_UPLOAD}}
                    <i class="icon-upload icon-white" style="float:right;"></i>
                </button>
                <a href="#!/mainActivity" class="span6 btn btn-large">

                    {{pages.ndcDOCCREATE.BTN_CANCEL}}
                    <i class="icon-remove" style="float:right;"></i>
                </a>
            </div>
        </div>
    </div>
