*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build
www/phonegap.js

www/.idea/.name

www/.idea/encodings.xml

www/.idea/misc.xml

www/.idea/modules.xml

www/.idea/scopes/scope_settings.xml

www/.idea/vcs.xml

www/.idea/workspace.xml

www/.idea/www.iml
